<div class="home-container" (wheel)="handleWheel($event)">
  <ng-container *loading="homeService.loading"></ng-container>
  <ul class="carousel" [ngStyle]="{top: topVal}" #carousel >
    <li *ngFor="let item of data" class="carousel-item">
      <app-carousel-item [data]=item></app-carousel-item>
    </li>
  </ul>
  <div class="icon icon-up" (click)="handleClickUp()" *ngIf="upShow">
    <icon [iconName]="'arrowUp'"></icon>
  </div>
  <div class="icon icon-down" (click)="handleClickDown()" *ngIf="downShow">
    <icon [iconName]="'arrowDown'"></icon>
  </div>

  <ul class="indicator">
    <li [ngClass]="{active: i === page}" *ngFor="let item of data; let i = index" (click)="handleClick(i+1)"></li>
  </ul>
</div>
