<div class="article-list-container" #blogContainer>
  <ng-container *loading="loading"></ng-container>
  <ul *ngIf="data && !loading">
    <li *ngFor="let item of data.rows">
      <div class="thumb" *ngIf="item.thumb">
        <a (click)="handleDetailClick(item.id)">
          <img alt="" lazyImg [lazySrc]="item.thumb!" [scrollElement]="blogContainer">
        </a>
      </div>
      <div class="main">
        <a class="title" (click)="handleDetailClick(item.id)">
          <h2>{{item.title}}</h2>
        </a>
        <div class="aside">
          <span>
            日期: {{item.createDate | date}}f
          </span>
          <span>
            浏览: {{item.scanNumber}}
          </span>
          <span>
            评论: {{item.commentNumber}}
          </span>
          <a (click)="handleAClick(item.category.id)">
            {{item.category.name}}
          </a>
        </div>
        <div class="desc">
          {{item.description}}
        </div>
      </div>
    </li>
  </ul>

  <pager [current]="routeInfo.page" *ngIf="data && !loading" [total]="data.total" [limit]="routeInfo.limit"
    [visibleNumber]="10" (pageChange)="handlePageChange($event)"></pager>
</div>
