<div class="article-list-container">
  <ul>
    <li *ngFor="let item of data">
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img [src]="item.thumb" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>{{item.title}}</h2>
        </a>
        <div class="aside">
          <span>
            日期: {{item.createDate | date}}
          </span>
          <span>
            浏览: {{item.scanNumber}}
          </span>
          <span>
            评论: {{item.commentNumber}}
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            {{item.category.name}}
          </a>
        </div>
        <div class="desc">
          {{item.description}}
        </div>
      </div>
    </li>
  </ul>
</div>
