<div class="article-list-container">
  <ul>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
    <li>
      <div class="thumb">
        <a [routerLink]="'/home'">
          <img src="http://mdrs.yuanjin.tech/FgMwAPYq17So9nwVH44ltDHo7u3c" alt="">
        </a>
      </div>
      <div class="main">
        <a class="title" [routerLink]="['/detail/1']" routerLinkActive="active">
          <h2>title</h2>
        </a>
        <div class="aside">
          <span>
            日期: 2014-07-28
          </span>
          <span>
            浏览：654
          </span>
          <span>
            评论261
          </span>
          <a [routerLink]="['/home']" routerLinkActive="active">
            分类3
          </a>
        </div>
        <div class="desc">
          描述相很需下过道间号包联应义。证新力京象市海事快本产那维。量运世接这来价战见器的她她近土算。
        </div>
      </div>
    </li>
  </ul>
</div>
