<div class="menu-container">
  <div class="menu-top-container">
    <app-avatar></app-avatar>
    <p>
      <span>哈哈哈哈哈</span>
    </p>
  </div>
  <div class="menu-content">
    <nav>
      <ul>
        <li class="menu">
          <a routerLink="home" routerLinkActive="active"><app-icon [iconName]="'weixin'"></app-icon>主页</a>
        </li>
        <li class="menu">
          <a routerLink="article" routerLinkActive="active">文章</a>
        </li>
        <li class="menu">
          <a routerLink="project" routerLinkActive="active">项目</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="menu-bottom-container">qweqdfc</div>
</div>